.mealsDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin-top: 2rem; /* Slightly move it down from the top */
    background-color: black;
    color: white;
    border-radius: 10px; /* Adding some rounding to the background */
    max-width: 800px; /* Optional: limit the width */
    margin-left: auto;
    margin-right: auto;
  }
  
  .mealsDescription h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .mealsDescription h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }